fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg[binary]
cryptography
opencv-python
numpy
PyYAML
huggingface_hub
roboflow
kagglehub
albumentations
jinja2
ultralytics
paddleocr
paddlepaddle
onnxruntime-gpu
supervision
aiosqlite
redis
ucimlrepo
scikit-learn
pandas
websockets
rapidfuzz
